<h1>Similar Movies to <%= @movie.title %></h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Director</th>
      <th>Release Date</th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.director %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to "More about #{movie.title}", movie_path(movie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to movie list', movies_path %>